<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resource Vault</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <header>
        <h1>RESOURCE <br> VAULT</h1>
        <nav>
            <a href="/"> home </a>
            <a href="/categories"> explore</a>
            <!-- <a href="/links/new">Add New Resource</a> -->
            <a href="/users/index">profile</a>
        </nav>
    </header>       
    <main>

    
