<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resource Vault</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
        <header>
            <nav>
                <ul>
                  <li><a href="/" class="brand-logo">&nbsp;&nbsp;Resource Vault</a></li>
                </ul>
                
                <div class="nav-menu">
                  <div class="hamburger">
                    <div class="hamburger-icon"></div>
                    <div class="hamburger-icon"></div>
                    <div class="hamburger-icon"></div>
                  </div>
                  <ul class="nav-items">
                    <li><a href="/">Home</a></li>
                    <li><a href="/categories">Explore</a></li>
                    <% if (locals.user) { %>
                      <% if(user.isAdmin == true){%>
                        <li><a href="/categories/new">Add New Category</a></li>
                      <%}%>
                      <li><a class='categoriespage-links' href="/links/new">Add New Resource</a></li>
                      <li><a href="/users/<%=user.id%>/favourites">Your Favourites</a></li>
                      <li><a href="/users/index"> Your Profile</a></li>
                      <li><a href="/logout">Log Out</a></li>
                    <% } else { %>
                      <li><a href="/auth/google">Log In</a></li>
                    <% } %>
                  </ul>
                </div>
              </nav>
        </header>
    <main>

    
