<%- include('../partials/header') %>

<div class="form-page">

    <h2 class="main-title"> Add New Resource</h2>

    <form class="form" action="/links" method="POST">
    
        <label class="labels">Name <br>
            <input type="text" name="name" class="input">
        </label>
    
        <label class="labels">Link <br>
          <input type="text" name="link" class="input">
        </label>
    
        <label class="labels">Description <br>
            <textarea type="text" name="description" class="input-description" ></textarea>
        </label>
    
        <label class="labels">Pick a Category <br>
            <!-- <input type="text" name="category"> -->
            <select name="category" class="input">
                <% categoryNames.forEach(function(category){ %>
                    <option value="<%=category%>"><%=category%></option>
                <% }) %>
            </select>
        </label>
        
        <button class="submit-btn" type="submit" value="Add Link">Add Resource</button>

    </form>

</div>


<%- include('../partials/footer') %>