/* css variables */
:root {
  --offwhite: #FBF8F3;
  --orange: #f77532;
  --blueborder: #c3e1e5;
  --bluetext: #2A8A92;
}


* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: var(--bluetext);
}


body {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 20% 70% 10%;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

/* HEADER STYLING */

header {
  grid-area: header;
  background-color: var(--offwhite);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header>h1 {
  color: var(--orange);
  opacity: 70%;
  align-self: center;
  margin: 2%;

}

header>nav {
  align-self: center;
  justify-self: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 1%;
  background-color: transparent;
}


header>nav>a,
a,
button,
.nav-link {
  color: var(--orange);
  opacity: 90%;
  margin: 5px;
  text-decoration: none;
  padding: 5px;
  border-radius: 20%;
  color: var(--orange);
  border-radius: 25%;
  border: 2px;
}

a:hover,
button:hover {
  color: white;
  background-color: var(--orange);
}

.nav-link {
  display: inline;
}

/* HOME PAGE & GENERAL STYLING */
.home-page {
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-areas:
    "welcome"
    "topthree";
}

.home-page>.welcome-message {
  grid-area: welcome;
  justify-self: center;
  align-self: center;
}

.top-three {
  display: flex;
  justify-content: space-evenly;
  margin: 5% 2%;
}

h3 {
  margin: 5% 2% 0% 2%;
}

h2 {
  margin: 2% 2% 3% 2%;
}

.card {
  border: 2px solid var(--blueborder);
}

main {
  text-align: center;
}

li {
  list-style: none;
}

/* CATEGORIES PAGE STYLING */


.categories-page {
  display: grid;
  grid-template-columns: 22% 78%;
  /* grid-template-areas:
    "sidebar"
    "links-area"; */
}


.categories-area {
  grid-column: 0 span 1;
}

.links-area {
  grid-column: 1 span 1;
  display: grid;
}

.nav-tabs {
  border-right: 2px solid var(--blueborder);
  border-bottom: none;
}

.link-info {
  margin: 5%;
}

label {
  margin: 5px;
}