<%- include('../partials/header') %>

<div class="container center-align">

    <h2 class="main-title"> Add New Category</h2>
    
    <form class="add-forms" action="/categories" method="POST">
    
        <label class="labels">Name:
            <input type="text" name="name" size="20">
        </label><br><br>
        
        <button class="btn" type="submit" value="Add Link">Add Category</button>
    </form>
</div>

<%- include('../partials/footer') %>