<%- include('../partials/header') %>
<div class="container center-align">
    <h2 class="main-title"> User Profile</h2>
    
    <ul>
        <li>Name: <%= user.name%></li>
        <li>Email: <%= user.email%></li>
    </ul>
    
    <h4>Your Favourites</h4>
</div>





<%- include('../partials/footer') %>